{
    "name": "ProxylessNASNets",
    "first_conv": {
        "name": "ConvLayer",
        "kernel_size": 5,
        "stride": 2,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "in_channels": 3,
        "out_channels": 32,
        "use_bn": true,
        "act_func": "relu6",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "blocks": [
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ConvLayer",
                "kernel_size": 7,
                "stride": 2,
                "dilation": 1,
                "groups": 1,
                "bias": false,
                "has_shuffle": false,
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": true,
                "act_func": "relu",
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            },
            "shortcut": {
                "name": "ConvLayer",
                "kernel_size": 1,
                "stride": 2,
                "dilation": 1,
                "groups": 1,
                "bias": false,
                "has_shuffle": false,
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": true,
                "act_func": "relu",
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ConvLayer",
                "kernel_size": 5,
                "stride": 1,
                "dilation": 1,
                "groups": 1,
                "bias": false,
                "has_shuffle": false,
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": true,
                "act_func": "relu",
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ConvLayer",
                "kernel_size": 7,
                "stride": 2,
                "dilation": 1,
                "groups": 1,
                "bias": false,
                "has_shuffle": false,
                "in_channels": 32,
                "out_channels": 64,
                "use_bn": true,
                "act_func": "relu",
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            },
            "shortcut": {
                "name": "ConvLayer",
                "kernel_size": 1,
                "stride": 2,
                "dilation": 1,
                "groups": 1,
                "bias": false,
                "has_shuffle": false,
                "in_channels": 32,
                "out_channels": 64,
                "use_bn": true,
                "act_func": "relu",
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "stride": 1
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 64,
                "out_channels": 64,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ConvLayer",
                "kernel_size": 7,
                "stride": 2,
                "dilation": 1,
                "groups": 1,
                "bias": false,
                "has_shuffle": false,
                "in_channels": 64,
                "out_channels": 128,
                "use_bn": true,
                "act_func": "relu",
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            },
            "shortcut": {
                "name": "ConvLayer",
                "kernel_size": 1,
                "stride": 2,
                "dilation": 1,
                "groups": 1,
                "bias": false,
                "has_shuffle": false,
                "in_channels": 64,
                "out_channels": 128,
                "use_bn": true,
                "act_func": "relu",
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "stride": 1
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 128,
                "out_channels": 128,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ConvLayer",
                "kernel_size": 3,
                "stride": 1,
                "dilation": 1,
                "groups": 1,
                "bias": false,
                "has_shuffle": false,
                "in_channels": 128,
                "out_channels": 256,
                "use_bn": true,
                "act_func": "relu",
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            },
            "shortcut": {
                "name": "ConvLayer",
                "kernel_size": 1,
                "stride": 1,
                "dilation": 1,
                "groups": 1,
                "bias": false,
                "has_shuffle": false,
                "in_channels": 128,
                "out_channels": 256,
                "use_bn": true,
                "act_func": "relu",
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        }
    ],
    "feature_mix_layer": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "in_channels": 256,
        "out_channels": 256,
        "use_bn": true,
        "act_func": "relu6",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "classifier": {
        "name": "LinearLayer",
        "in_features": 256,
        "out_features": 10,
        "bias": true,
        "use_bn": false,
        "act_func": null,
        "dropout_rate": 0.2,
        "ops_order": "weight_bn_act"
    }
}